.admin-page{

    h3{
        display: inline-block;
        margin: 32px;
    }

    button{
        background-color: transparent;
        border:none;
        font-size: 16px;
        span{
            color: $primary;
        }
    }

    .table{
        tr,td{
            height: 55px;
            vertical-align: middle;
        }
    }
    
    .pagination{
        margin-top: 64px;
        a{
            color:$primary ;
        }
    }
}





